AWSTemplateFormatVersion: '2010-09-09'
Description: RDS Template
Parameters:
  DBPassword:
    AllowedPattern: (?=^.{6,255}$)((?=.*\d)(?=.*[A-Z])(?=.*[a-z])|(?=.*\d)(?=.*[^A-Za-z0-9])(?=.*[a-z])|(?=.*[^A-Za-z0-9])(?=.*[A-Z])(?=.*[a-z])|(?=.*\d)(?=.*[A-Z])(?=.*[^A-Za-z0-9]))^.*
    Description: RDS MySQL Database Password
    NoEcho: 'True'
    Type: String
  DBUser:
    Default: admin
    Description: RDS MySQL Database Username
    Type: String
  DBName:
    Default: ''
    Description: RDS MySQL Database Name
    Type: String
  DBAllocatedStorage:
    ConstraintDescription: Must be between 5 and 4096 GiB. If Iops specified, AllocatedStorage
      must be at least 100 GiB and with minimum Iops value of 1000
    Default: '16'
    Description: The size of the database in gigabytes (GiB)
    MaxValue: '4096'
    MinValue: '5'
    Type: Number
  DBInstanceClass:
    AllowedValues:
    - db.t2.micro
    - db.t2.small
    - db.t2.medium
    - db.t2.large
    - db.m4.large
    - db.m4.xlarge
    - db.m4.2xlarge
    - db.m4.4xlarge
    - db.m4.10xlarge
    - db.r3.large
    - db.r3.xlarge
    - db.r3.2xlarge
    - db.r3.4xlarge
    - db.r3.8xlarge
    - db.m3.medium
    - db.m3.large
    - db.m3.xlarge
    - db.m3.2xlarge
    - db.m2.xlarge
    - db.m2.2xlarge
    - db.m2.4xlarge
    - db.m1.xlarge
    - db.m1.small
    - db.m1.medium
    - db.m1.large
    - db.t1.micro
    ConstraintDescription: Must select a valid database instance type.
    Default: db.r3.2xlarge
    Description: The name of the compute and memory capacity class of the Amazon RDS
      (MySQL) DB instance.
    Type: String
Resources:
  MyDB: 
    Type: AWS::RDS::DBInstance
    Properties: 
      DBName: 
        Ref: "DBName"
      AllocatedStorage: 
        Ref: "DBAllocatedStorage"
      DBInstanceClass: 
        Ref: "DBInstanceClass"
      Engine: "MySQL"
      EngineVersion: "5.6"
      MasterUsername: 
        Ref: "DBUser"
      MasterUserPassword: 
        Ref: "DBPassword"
      Tags: 
        - 
          Key: "Name"
          Value: "My SQL Database"